<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Doctor Appointments</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <h2>Add Doctor Appointment</h2>
                <form id="form1" method="post" action="/addappointment" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <input name="apptid" type="text" class="form-control" placeholder="Appointment ID" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input name="pxid" type="text" class="form-control" placeholder="Patient ID" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input name="doctorid" type="text" class="form-control" placeholder="Doctor ID" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <input name="queuedate" type="text" class="form-control" placeholder="Queue Date" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input name="hospitalname" type="text" class="form-control" placeholder="Hospital Name" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <input name="city" type="text" class="form-control" placeholder="City" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <select name="regions" id="regions" title="Regions" required>
                                <option value="">Select Region</option>
                                <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
                                <option value="Ilocos Region (I)">Ilocos Region (I)</option>
                                <option value="Caraga (XIII)">Caraga (XIII)</option>
                                <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
                                <option value="Central Visayas (VII)">Central Visayas (VII)</option>
                                <option value="CALABARZON (IV-A)">CALABARZON (IV-A)</option>
                                <option value="Western Visayas (VI)">Western Visayas (VI)</option>
                                <option value="Central Luzon (III)">Central Luzon (III)</option>
                                <option value="MIMAROPA (IV-B)">MIMAROPA (IV-B)</option>
                                <option value="Bicol Region (V)">Bicol Region (V)</option>
                                <option value="Davao Region (XI)">Davao Region (XI)</option>
                                <option value="SOCCSKSARGEN (Cotabato Region) (XII)">SOCCSKSARGEN (Cotabato Region) (XII)</option>
                                <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
                                <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
                                <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
                                <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
                                <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)">Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)</option>
                            </select><br> <br>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select name="type" id="type" title="Type" required>
                                <option value="">Virtual Consultation?</option>
                                <option value="Consultation">Consultation</option>
                                <option value="Inpatient">Inpatient</option>
                            </select><br><br>
                        </div>
                        <div class="col-md-4 mb-3">
                            <select name="virtual" id="virtual" class="custom-select" required>
                                <option value="">Virtual Consultation?</option>
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-12">
                <h2>Check Appointments</h2>
                <form action="/filter" method="get" class="mb-4">
                    <div class="form-group">
                        <select name="island" class="custom-select" required>
                            <option value="">Select Island</option>
                            <option value="Luzon">Luzon</option>
                            <option value="Visayas">Visayas</option>
                            <option value="Mindanao">Mindanao</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>index</th>
                            <th>apptid</th>
                            <th>pxid</th>
                            <th>doctorid</th>
                            <th>queuedate</th>
                            <th>hospitalname</th>
                            <th>city</th>
                            <th>regionname</th>
                            <th>type</th>
                            <th>virtual</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{!-- {{#each appointments}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{this.apptid}}</td>
                                <td>{{this.pxid}}</td>
                                <td>{{this.doctorid}}</td>
                                <td>{{this.queuedate}}</td>
                                <td>{{this.hospitalname}}</td>
                                <td>{{this.city}}</td>
                                <td>{{this.regionname}}</td>
                                <td>{{this.type}}</td>
                                <td>{{this.virtual}}</td>
                                <td>{{this.status}}</td>
                                <td>
                                    <a href="/editAppointment?apptid={{this.apptid}}"><button>Update</button></a>
                                    <a href="/deleteAppointment?apptid={{this.apptid}}"><button>Delete</button></a>
                                </td>
                            </tr>
                        {{/each}} --}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>